@font-face {
    font-family: "Work Sans";
    src: url(../Bello/assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(../Bello/assets/fonts/Roboto/Roboto-Regular.ttf);
}
body {
    padding: 0;
    margin: 0;
    width: 1440px;
}
header {
    height: 105px;
    display: flex;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
header img {
    margin: 35px 35px 35px 60px;
}
nav {
    display: flex;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 19.2px;
    color: #1D253C;
}
.nav-list {
    display: flex;
    margin: 41px 0 44px;
    padding: 0 35px 0 0;
    width: 295px;
    justify-content: space-between;
    list-style: none;
}
.nav-list-buttons {
    display: flex;
    justify-content: space-between;
    width: 248px;
    padding: 0;
    margin: 41px 60px 44px 611.98px;
}
.nav-list-buttons p {
    margin: 0;
}
.get-my-price {
    margin-top: -12px;
    width: 161px;
    height: 44px;
    border: 1px solid rgba(29, 37, 60, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}
.meet-bello {
    display: flex;
    justify-content: space-between;
    height: 775px;
}
.meet-bello-column {
    width: 450px;
    height: 383px;
    position: absolute;
    margin: 196.19px 0px 195.81px 106.38px;
}
.meet-bello-column p:first-child {
    margin: 0;
    text-transform: uppercase;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #F46752;
    padding-top: 26.81px;
}
.meet-bello-column button {
    width: 220px;
    height: 61px;
    text-transform: uppercase;
    background: #F46752;
    border: 1px solid rgba(29, 37, 60, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Work Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: white;
}
.meet-bello-column button img {
    margin-left: 10px;
}
.secure {
    width: 411px;
    margin: 0 0 40px 0;
    font-family: 'Work Sans',sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #5A6482

}
.family {
    margin: 17px 0px 61px 456px;
    position: static;
}
h1 {
    margin: 0 0 26px 0;
    font-family: 'Work Sans',sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 64px;
    line-height: 68px;
    color: #1D253C;
}
.second-block {
    background-color:#F9F5F2;
}
.future {
    display:flex;
    justify-content: space-between;
    width: 1100px;
    margin: auto;
    padding: 85.37px 0 84.63px;
}
.img-in-second-block {
    padding: 31px 43px 32px 43px;
    background-color: white;
}
.table p {
    margin: 0;
    margin-top: 20px;
    font-family: 'Work Sans',sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #5A6482;
}
.head-phrase {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #F46752;
    margin: 0;
    margin-bottom: 26px;
}
.secure-your-future h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 52px;
    color: #1D253C;
    margin: 0;
    margin-bottom: 19px;
}
#life-insurance {
    font-family: 'Work Sans',sans-serif;
    font-weight: normal;
    font-size: 19px;
    line-height: 30px;
    color: #5A6482;
    margin: 0;
    margin-bottom: 32px;
}
.secure-your-future {
    width: 456px;
    height: 309.5px;
    margin: 82.62px 0 82.38px 0;
}
#get-my-price {
    font-family: 'Work Sans',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #126F86;
    margin: 0;
}
.technology-meets-service {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: auto;
    position: relative;
}
.we-are-here {
    margin-top: 274.62px;
    margin-bottom: 289.87px;
    width: 456px;
    height: 257.5px;
}
.we-are-here h2 {
    font-family: 'Work Sans',sans-serif;
    font-weight: 500;
    font-size: 45px;
    line-height: 52px;
    color: #1D253C;
}
#bella {
    font-family: 'Work Sans',sans-serif;
    font-weight: normal;
    font-size: 19px;
    line-height: 30px;
    color: #5A6482;
}
#get-help {
    font-family: 'Roboto',sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #126F86;
}
.technology-meets-service button {
    position: absolute;
    width: 326px;
    height: 67px;
    background: #FFFFFF;
    box-shadow: 3px 4px 34px rgba(66, 71, 77, 0.11);
    border-radius: 5px;
    font-family: 'Work Sans',sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    color: #1D253C;
    border: none;
    top: 616px;
    left: 498px;
}
.img-in-third-block {
    margin-top: 148px;
    margin-bottom: 164px;
}
.fourth-block {
    position: relative;
    background: #F8F8F8;
}
.wrapper {
    width: 1100px;
    margin: auto;
}
.you-are-in-safe {
    text-align: center;
}
.you-are-in-safe img {
    position: absolute;
    left: 500px;
    top: -110px;
}
#top-rated {
    font-family: 'Work Sans',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #F46752;
    margin: 0;
    padding-top: 91px;
}
.you-are-in-safe h2 {
    font-family: 'Work Sans',sans-serif;
    font-weight: 500;
    font-size: 45px;
    line-height: 52px;
    color: #1D253C;
}
#partner {
    font-family: 'Work Sans',sans-serif;
    font-weight: normal;
    font-size: 19px;
    line-height: 30px;
    text-align: center;
    color: #5A6482;
}
.three-table {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    margin-top: 41px;
    padding-bottom: 85px;
}
.just-table {
    width: 320px;
    height: 310px;
    background-color: #FFFFFF;
}
.three-table h3 {
    font-family: 'Work Sans',sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: #1D253C;
}
.three-table p {
    font-family: 'Work Sans',sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #5A6482;
}
.black {
    background: #363839;
}
.fifth-block {
    width: 1100px;
    margin: auto;
}
#how-it-works {
    font-family: 'Work Sans',sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #F46752;
    margin: 0;
    padding-top: 120px;
}
.fifth-block h2 {
    font-family: 'Work Sans',sans-serif;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
    color: #FFFFFF;
}
#use-technology {
    font-family: 'Work Sans',sans-serif;
    font-weight: normal;
    font-size: 19px;
    line-height: 30px;
    text-align: center;
    color: #ACB4BF;
}
.table-in-fifth {
    display: flex;
    width: 1100px;
    margin: auto;
    margin-top: 73px;
    text-align: center;
    justify-content: space-between;
    position: relative;
}
.table-in-fifth h3 {
    font-family: 'Work Sans',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.table-in-fifth p {
    font-family: 'Work Sans',sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #ACB4BF;
}
.table-in-fifth .one-block {
    width: 240px;
    height: 195px;
}
.table-in-fifth .two-block {
    width: 240px;
    height: 169px;
}
.table-in-fifth .three-block {
    width: 240px;
    height: 169px;
}
.black button {
    width: 220px;
    height: 61px;
    text-transform: uppercase;
    background: #F46752;
    border: 1px solid rgba(29, 37, 60, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Work Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: white;
    margin: 32px 615px 101px;
}