@font-face {
    font-family: "Work Sans";
    src: url(../Bello/assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}
body {
    padding: 0;
    margin: 0;
    width: 1440px;
}
header {
    height: 105px;
    display: flex;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
header img {
    margin: 35px 35px 35px 60px;
}
nav {
    display: flex;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 19.2px;
    color: #1D253C;
}
.nav-list {
    display: flex;
    margin: 41px 0 44px;
    padding: 0 35px 0 0;
    width: 295px;
    justify-content: space-between;
    list-style: none;
}
.nav-list-buttons {
    display: flex;
    justify-content: space-between;
    width: 248px;
    padding: 0;
    margin: 41px 60px 44px 611.98px;
}
.nav-list-buttons p {
    margin: 0;
}
.get-my-price {
    margin-top: -12px;
    width: 161px;
    height: 44px;
    border: 1px solid rgba(29, 37, 60, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}
.meet-bello {
    display: flex;
    justify-content: space-between;
    height: 775px;
}
.meet-bello-column {
    width: 450px;
    height: 383px;
    position: absolute;
    margin: 196.19px 0px 195.81px 106.38px;
}
.meet-bello-column p:first-child {
    margin: 0;
    text-transform: uppercase;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #F46752;
    padding-top: 26.81px;
}
.meet-bello-column button {
    width: 220px;
    height: 61px;
    text-transform: uppercase;
    background: #F46752;
    border: 1px solid rgba(29, 37, 60, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Work Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: white;
}
.meet-bello-column button img {
    margin-left: 10px;
}
.secure {
    width: 411px;
    margin: 0 0 40px 0;
    font-family: 'Work Sans',sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #5A6482

}
.family {
    margin: 17px 0px 61px 456px;
    position: static;
}
h1 {
    margin: 0 0 26px 0;
    font-family: 'Work Sans',sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 64px;
    line-height: 68px;
    color: #1D253C;
}
